<!DOCTYPE html>
<html lang="it">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
		body {
			font-family: Georgia, Times New Roman, Times, serif;
		}
	</style>
</head>
<body>
	<h1>Stato appartenenza al workgroup ${workgroupName}</h1>
	<p>
		Gentile <strong>${fullName}</strong>, lo stato di appartenenza al workgroup <strong>${workgroupName}</strong> &egrave; stato modificato da un Amministratore.
		<br/>Il tuo accesso &egrave; stato <strong>${status}</strong>.
	</p>	
	<p>
		In caso di necessit&agrave; si prega di contattare l'assistenza
		all'indirizzo: <a href="mailto:${support}">${support}</a>.
	</p>
	<p>
		Cordiali saluti e buona navigazione.
	</p>
</body>
</html>